.header {
    padding: 40px 0;
    font-size: 14px;
    margin-bottom: 133px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__col--aline--right{
    justify-content: flex-end;
}



.header__logo {
    margin-right: 50px;
}